html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* star coding */
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b675f3;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #8b3cf9;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka menu yaitu (li.icon) */
@media screen and (max-width:680px) {
ul.topnav li:not(:first-child) {display: none;}
ul.topnav li.icon {
	float: right;
	display: inline-block;
}
}

/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu
*/
@media screen and (max-width:680px) {
ul.topnav.responsive {position: relative;}
ul.topnav.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
}
ul.topnav.responsive li {
	float: none;
	display: inline;
}
ul.topnav.responsive li a {
	display: block;
	text-align: left;
}
}

.bg{
	text-align: center;
	color: white;
	width: 100%;
	height: 400px;
	background: rgba(255,153,206,1);
background: -moz-linear-gradient(-45deg, rgba(255,153,206,1) 0%, rgba(255,26,144,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,153,206,1)), color-stop(100%, rgba(255,26,144,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,153,206,1) 0%, rgba(255,26,144,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,153,206,1) 0%, rgba(255,26,144,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,153,206,1) 0%, rgba(255,26,144,1) 100%);
background: linear-gradient(135deg, rgba(255,153,206,1) 0%, rgba(255,26,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff99ce', endColorstr='#ff1a90', GradientType=1 );
}
.bg2{
	width: 100%;
	height: 400px;
	background-color:#fff;
	text-align: center;
	font-family: tahoma, sans-serif;
}
.bg3{
	color: white;
	text-align: center;
	width:100%;
	height:400px;
	background-color:#8b3cf9;
}
.bg4{
	color: white;
	text-align: center;
	width:100%;
	height:400px;
	background-color:#8400d5;
}

.foot{
	font: Arial;
	color: white;
	width:100%;
	height:50px;
	background-color:#4d007d;
	text-align: center;
	line-height: 35px;}
